<!--
  Generated template for the launchpadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title *ngIf="launchpad">{{launchpad.name}}</ion-title>
    </ion-navbar>
      
  </ion-header>
      
  <ion-content padding>

      <ion-item-divider  color="light">
          Item Divider
        </ion-item-divider>
    <div *ngIf="launchpad">
  
        
    </div>
  </ion-content>

      